{% extends "base.html" %}

{% block content %}
  <h1>
    TODO List
  <a href="{% url 'todo:task-create' %}" class="btn btn-primary link-to-page float-right">
    Add task
  </a>
  </h1>
  <br><br>
  {% if task_list %}

    {% for task in task_list %}
      <strong>{{ task.content }}</strong> {% if task.done %}Done{% else %} Not done{% endif %}
      <p>
        Created: {{ task.datetime }}
        Deadline: {% if task.deadline %}{{ task.deadline }}{% endif %}
      </p>
      <p>
        Tags: {{ task.tags.all| join:" " }}
        <a href="{% url 'todo:task-update' pk=task.id %}">
          Update
        </a>
        <a href="{% url 'todo:task-delete' pk=task.id %}">
          Delete
        </a>
      </p>
      {% if task.done %}
        <a href="{% url 'todo:toggle-task' pk=task.id %}" class="btn btn-secondary link-to-page">
          Undo
        </a>
      {% else %}
        <a href="{% url 'todo:toggle-task' pk=task.id %}" class="btn btn-success link-to-page">
          Complete
        </a>
      {% endif %}
      <hr>
    {% endfor %}

  {% else %}
      <p>There are no tasks.</p>
  {% endif %}
{% endblock %}
